%container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    @media only screen and (min-width: 1080px) {
        max-width: 960px;
    }
    @media only screen and (min-width: 1280px) {
        max-width: 1080px;
    }
    @media only screen and (min-width: 1920px) {
        max-width: 1280px;
    }
    
}

.container { @extend %container; }